In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [4]:
hflight = spark.read.option('inferSchema', 'true').\
    option('header', 'true').\
    csv("file:///home/hadoop/jupyter/dataengineering/dataset/hflight.csv")

In [13]:
hflight.count()

227496

## Pyspark 버전
### 출발 공항에 대해서 도착 공항별로 평균 출발 지연, 평균 도착 지연시간을 구하기!
#### groupby
#### avg,mean

In [14]:
hflight.limit(1).show()

+----+-----+----------+---------+-------+-------+-------------+---------+-------+-----------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|ArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|
+----+-----+----------+---------+-------+-------+-------------+---------+-------+-----------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+
|2011|    1|         1|        6|   1400|   1500|           AA|      428| N576AA|               60|     40|     -10|       0|   IAH| DFW|     224|     7|     13|        0|            null|       0|
+----+-----+----------+---------+-------+-------+-------------+---------+-------+-----------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+

In [15]:
help(hflight)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
 |  DataFrame(jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
 |
 |  A distributed collection of data grouped into named columns.
 |
 |  .. versionadded:: 1.3.0
 |
 |  .. versionchanged:: 3.4.0
 |      Supports Spark Connect.
 |
 |  Examples
 |  --------
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`:
 |
 |  >>> people = spark.createDataFrame([
 |  ...     {"deptId": 1, "age": 40, "name": "Hyukjin Kwon", "gender": "M", "salary": 50},
 |  ...     {"deptId": 1, "age": 50, "name": "Takuya Ueshin", "gender": "M", "salary": 100},
 |  ...     {"deptId": 2, "age": 60, "name": "Xinrong Meng", "gender": "F", "salary": 150},
 |  ...     {"deptId": 3, "age": 20, "name": "Haejoon Lee", "gender": "M", "salary": 200}
 |  ... ])
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the :class:`DataFrame`, use the apply method:
 |
 |  >>> age_col = people.age
 |
 |  A more concrete example:
 |
 |  >>> # To create DataFrame using SparkSession
 |  ... department = spark.createDataFrame([
 |  ...     {"id": 1, "name": "PySpark"},
 |  ...     {"id": 2, "name": "ML"},
 |  ...     {"id": 3, "name": "Spark SQL"}
 |  ... ])
 |
 |  >>> people.filter(people.age > 30).join(
 |  ...     department, people.deptId == department.id).groupBy(
 |  ...     department.name, "gender").agg({"salary": "avg", "age": "max"}).show()
 |  +-------+------+-----------+--------+
 |  |   name|gender|avg(salary)|max(age)|
 |  +-------+------+-----------+--------+
 |  |     ML|     F|      150.0|      60|
 |  |PySpark|     M|       75.0|      50|
 |  +-------+------+-----------+--------+
 |
 |  Notes
 |  -----
 |  A DataFrame should only be created as described above. It should not be directly
 |  created via using the constructor.
 |
 |  Method resolution order:
 |      DataFrame
 |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
 |      pyspark.sql.pandas.conversion.PandasConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name: str) -> pyspark.sql.column.Column
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          Column name to return as :class:`Column`.
 |
 |      Returns
 |      -------
 |      :class:`Column`
 |          Requested column.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([
 |      ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |
 |      Retrieve a column instance.
 |
 |      >>> df.select(df.age).show()
 |      +---+
 |      |age|
 |      +---+
 |      |  2|
 |      |  5|
 |      +---+
 |
 |  __getitem__(self, item: Union[int, str, pyspark.sql.column.Column, List, Tuple]) -> Union[pyspark.sql.column.Column, ForwardRef('DataFrame')]
 |      Returns the column as a :class:`Column`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      item : int, str, :class:`Column`, list or tuple
 |          column index, column name, column, or a list or tuple of columns
 |
 |      Returns
 |      -------
 |      :class:`Column` or :class:`DataFrame`
 |          a specified column, or a filtered or projected dataframe.
 |
 |          * If the input `item` is an int or str, the output is a :class:`Column`.
 |
 |          * If the input `item` is a :class:`Column`, the output is a :class:`DataFrame`
 |              filtered by this given :class:`Column`.
 |
 |          * If the input `item` is a list or tuple, the output is a :class:`DataFrame`
 |              projected by this given list or tuple.
 |
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([
 |      ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |
 |      Retrieve a column instance.
 |
 |      >>> df.select(df['age']).show()
 |      +---+
 |      |age|
 |      +---+
 |      |  2|
 |      |  5|
 |      +---+
 |
 |      >>> df.select(df[1]).show()
 |      +-----+
 |      | name|
 |      +-----+
 |      |Alice|
 |      |  Bob|
 |      +-----+
 |
 |      Select multiple string columns as index.
 |
 |      >>> df[["name", "age"]].show()
 |      +-----+---+
 |      | name|age|
 |      +-----+---+
 |      |Alice|  2|
 |      |  Bob|  5|
 |      +-----+---+
 |      >>> df[df.age > 3].show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |  5| Bob|
 |      +---+----+
 |      >>> df[df[0] > 3].show()
 |      +---+----+
 |      |age|name|
 |      +---+----+
 |      |  5| Bob|
 |      +---+----+
 |
 |  __init__(self, jdf: py4j.java_gateway.JavaObject, sql_ctx: Union[ForwardRef('SQLContext'), ForwardRef('SparkSession')])
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self) -> str
 |      Return repr(self).
 |
 |  agg(self, *exprs: Union[pyspark.sql.column.Column, Dict[str, str]]) -> 'DataFrame'
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy().agg()``).
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      exprs : :class:`Column` or dict of key and value strings
 |          Columns or expressions to aggregate DataFrame by.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Aggregated DataFrame.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql import functions as F
 |      >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |      >>> df.agg({"age": "max"}).show()
 |      +--------+
 |      |max(age)|
 |      +--------+
 |      |       5|
 |      +--------+
 |      >>> df.agg(F.min(df.age)).show()
 |      +--------+
 |      |min(age)|
 |      +--------+
 |      |       2|
 |      +--------+
 |
 |  alias(self, alias: str) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      alias : str
 |          an alias name to be set for the :class:`DataFrame`.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Aliased DataFrame.
 |
 |      Examples
 |      --------
 |      >>> from pyspark.sql.functions import col, desc
 |      >>> df = spark.createDataFrame(
 |      ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select(
 |      ...     "df_as1.name", "df_as2.name", "df_as2.age").sort(desc("df_as1.name")).show()
 |      +-----+-----+---+
 |      | name| name|age|
 |      +-----+-----+---+
 |      |  Tom|  Tom| 14|
 |      |  Bob|  Bob| 16|
 |      |Alice|Alice| 23|
 |      +-----+-----+---+
 |
 |  approxQuantile(self, col: Union[str, List[str], Tuple[str]], probabilities: Union[List[float], Tuple[float]], relativeError: float) -> Union[List[float], List[List[float]]]
 |      Calculates the approximate quantiles of numerical columns of a
 |      :class:`DataFrame`.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the :class:`DataFrame` has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[https://doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      col: str, tuple or list
 |          Can be a single column name, or a list of names for multiple columns.
 |
 |          .. versionchanged:: 2.2.0
 |             Added support for multiple columns.
 |      probabilities : list or tuple
 |          a list of quantile probabilities
 |          Each number must belong to [0, 1].
 |          For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      relativeError : float
 |          The relative target precision to achieve
 |          (>= 0). If set to zero, the exact quantiles are computed, which
 |          could be very expensive. Note that values greater than 1 are
 |          accepted but gives the same result as 1.
 |
 |      Returns
 |      -------
 |      list
 |          the approximate quantiles at the given probabilities.
 |
 |          * If the input `col` is a string, the output is a list of floats.
 |
 |          * If the input `col` is a list or tuple of strings, the output is also a
 |              list, but each element in it is a list of floats, i.e., the output
 |              is a list of list of floats.
 |
 |      Notes
 |      -----
 |      Null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |  cache(self) -> 'DataFrame'
 |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK_DESER`).
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Notes
 |      -----
 |      The default storage level has changed to `MEMORY_AND_DISK_DESER` to match Scala in 3.0.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Cached DataFrame.
 |
 |      Examples
 |      --------
 |      >>> df = spark.range(1)
 |      >>> df.cache()
 |      DataFrame[id: bigint]
 |
 |      >>> df.explain()
 |      == Physical Plan ==
 |      InMemoryTableScan ...
 |
 |  checkpoint(self, eager: bool = True) -> 'DataFrame'
 |      Returns a checkpointed version of this :class:`DataFrame`. Checkpointing can be used to
 |      truncate the logical plan of this :class:`DataFrame`, which is especially useful in
 |      iterative algorithms where the plan may grow exponentially. It will be saved to files
 |      inside the checkpoint directory set with :meth:`SparkContext.setCheckpointDir`.
 |
 |      .. versionadded:: 2.1.0
 |
 |      Parameters
 |      ----------
 |      eager : bool, optional, default True
 |          Whether to checkpoint this :class:`DataFrame` immediately.
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |          Checkpointed DataFrame.
 |
 |      Notes
 |      -----
 |      This API is experimental.
 |
 |      Examples
 |      --------
 |      >>> import tempfile
 |      >>> df = spark.createDataFrame([
 |      ...     (14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |      >>> with tempfile.TemporaryDirectory() as d:
 |      ...     spark.sparkContext.setCheckpointDir("/tmp/bb")
 |      ...     df.checkpoint(False)
 |      DataFrame[age: bigint, name: string]
 |
 |  coalesce(self, numPartitions: int) -> 'DataFrame'
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      numPartitions : int
 |          specify the target number of partitions
 |
 |      Returns
 |      -------
 |      :class:`DataFrame`
 |
 |      Examples
 |      --------
 |      >>> df = spark.range(10)
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |  colRegex(self, colName: str) -> pyspark.sql.column.Column
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      .. versionadded:: 2.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      colName : str
 |          string, column name specified as a regex.
 |
 |      Returns
 |      -------
 |      :class:`Column`
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |  collect(self) -> List[pyspark.sql.types.Row]
 |      Returns all the records as a list of :class:`Row`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Returns
 |      -------
 |      list
 |          List of rows.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame(
 |      ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |      >>> df.collect()
 |      [Row(age=14, name='Tom'), Row(age=23, name='Alice'), Row(age=16, name='Bob')]
 |
 |  corr(self, col1: str, col2: str, method: Optional[str] = None) -> float
 |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |      method : str, optional
 |          The correlation method. Currently only supports "pearson"
 |
 |      Returns
 |      -------
 |      float
 |          Pearson Correlation Coefficient of two columns.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([(1, 12), (10, 1), (19, 8)], ["c1", "c2"])
 |      >>> df.corr("c1", "c2")
 |      -0.3592106040535498
 |      >>> df = spark.createDataFrame([(11, 12), (10, 11), (9, 10)], ["small", "bigger"])
 |      >>> df.corr("small", "bigger")
 |      1.0
 |
 |  count(self) -> int
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      .. versionadded:: 1.3.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Returns
 |      -------
 |      int
 |          Number of rows.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame(
 |      ...     [(14, "Tom"), (23, "Alice"), (16, "Bob")], ["age", "name"])
 |
 |      Return the number of rows in the :class:`DataFrame`.
 |
 |      >>> df.count()
 |      3
 |
 |  cov(self, col1: str, col2: str) -> float
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      .. versionadded:: 1.4.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      col1 : str
 |          The name of the first column
 |      col2 : str
 |          The name of the second column
 |
 |      Returns
 |      -------
 |      float
 |          Covariance of two columns.
 |
 |      Examples
 |      --------
 |      >>> df = spark.createDataFrame([(1, 12), (10, 1), (19, 8)], ["c1", "c2"])
 |      >>> df.cov("c1", "c2")
 |      -18.0
 |      >>> df = spark.createDataFrame([(11, 12), (10, 11), (9, 10)], ["small", "bigger"])
 |      >>> df.cov("small", "bigger")
 |      1.0
 |
 |  createGlobalTempView(self, name: str) -> None
 |      Creates a global temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      .. versionadded:: 2.1.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          Name of the view.
 |
 |      Examples
 |      --------
 |      Create a global temporary view.
 |
 |      >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("SELECT * FROM global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |
 |      Throws an exception if the global temporary view already exists.
 |
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: "Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |      True
 |
 |  createOrReplaceGlobalTempView(self, name: str) -> None
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      .. versionadded:: 2.2.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          Name of the view.
 |
 |      Examples
 |      --------
 |      Create a global temporary view.
 |
 |      >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |      >>> df.createOrReplaceGlobalTempView("people")
 |
 |      Replace the global temporary view.
 |
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("SELECT * FROM global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |      True
 |
 |  createOrReplaceTempView(self, name: str) -> None
 |      Creates or replaces a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      .. versionadded:: 2.0.0
 |
 |      .. versionchanged:: 3.4.0
 |          Supports Spark Connect.
 |
 |      Parameters
 |      ----------
 |      name : str
 |          Name of the view.
 |
 |      Examples
 |      --------
 |      Create a local temporary view named 'people'.
 |
 |      >>> df = spark.createDataFrame([(2, "Alice"), (5, "Bob")], schema=["age", "name"])
 |      >>> df.createOrReplaceTempView("people")
 |

In [ ]:
hflight.printSchema()

In [5]:
from pyspark.sql.functions import avg, stddev, col

hflight = hflight.withColumn('ArrDelay', col('ArrDelay').cast('integer')).\
            withColumn('DepDelay', col('DepDelay').cast('integer'))

#hflight.groupby("Origin", "Dest").mean("ArrDelay", "DepDelay").show()
hflight.groupBy("Origin", "Dest").agg(
    avg("ArrDelay").alias("출발 지연 평균"),
    avg("DepDelay").alias("도착 지연 평균")).show()

+------+----+------------------+------------------+
|Origin|Dest|    출발 지연 평균|    도착 지연 평균|
+------+----+------------------+------------------+
|   HOU| PHL|23.541666666666668| 33.19124423963134|
|   IAH| LIT| 6.764063811922754| 7.740771812080537|
|   IAH| GSP| 9.617359413202934|  9.08272506082725|
|   IAH| DEN| 7.441828254847645| 10.37734288864388|
|   IAH| TUS| 7.801679586563307| 7.783870967741936|
|   IAH| ABQ| 7.928692699490663| 6.703891708967851|
|   HOU| LIT| 3.533333333333333|7.4404432132963985|
|   IAH| ANC|26.080645161290324|            24.952|
|   IAH| SMF|  4.66271018793274| 9.093966369930762|
|   HOU| TUL| 7.855238095238096|11.208174904942966|
|   HOU| MDW|3.8126815101645692|13.204150579150578|
|   HOU| OKC| 9.441897233201582|12.509865824782953|
|   IAH| DSM|15.951104100946372|12.796850393700787|
|   IAH| DFW| 5.510741008930727| 8.764620938628159|
|   IAH| BOS| 6.559045956951716|10.519141531322505|
|   HOU| MAF| 6.918367346938775|10.507042253521126|
|   IAH| RIC|12.301231802911534|11.040313549832026|
|   HOU| BNA| 5.394160583941606|11.395331874544128|
|   IAH| CLE|1.0408067542213884| 5.868198874296435|
|   HOU| MSY| 7.040394973070018|10.635058330840563|
+------+----+------------------+------------------+
only showing top 20 rows

# 문제 2
#### 목적지 공항에 대해 연착 건수를 구하고,
#### 연착 건수가 2000회 이상인 공항에 대한 데이터만 추출
#### col -> Dest : 목적지 공항 ArrDelay(연착은 5분이상)

In [57]:
help(hflight.sort)

Help on method sort in module pyspark.sql.dataframe:

sort(*cols: Union[str, pyspark.sql.column.Column, List[Union[str, pyspark.sql.column.Column]]], **kwargs: Any) -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Returns a new :class:`DataFrame` sorted by the specified column(s).

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    cols : str, list, or :class:`Column`, optional
         list of :class:`Column` or column names to sort by.

    Other Parameters
    ----------------
    ascending : bool or list, optional, default True
        boolean or list of boolean.
        Sort ascending vs. descending. Specify list for multiple sort orders.
        If a list is specified, the length of the list must equal the length of the `cols`.

    Returns
    -------
    :class:`DataFrame`
        Sorted DataFrame.

    Examples
    --------
    >>> from pyspark.sql.functions import desc, asc
    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (5, "Bob")], schema=["age", "name"])

    Sort the DataFrame in ascending order.

    >>> df.sort(asc("age")).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  2|Alice|
    |  5|  Bob|
    +---+-----+

    Sort the DataFrame in descending order.

    >>> df.sort(df.age.desc()).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  5|  Bob|
    |  2|Alice|
    +---+-----+
    >>> df.orderBy(df.age.desc()).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  5|  Bob|
    |  2|Alice|
    +---+-----+
    >>> df.sort("age", ascending=False).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  5|  Bob|
    |  2|Alice|
    +---+-----+

    Specify multiple columns

    >>> df = spark.createDataFrame([
    ...     (2, "Alice"), (2, "Bob"), (5, "Bob")], schema=["age", "name"])
    >>> df.orderBy(desc("age"), "name").show()
    +---+-----+
    |age| name|
    +---+-----+
    |  5|  Bob|
    |  2|Alice|
    |  2|  Bob|
    +---+-----+

    Specify multiple columns for sorting order at `ascending`.

    >>> df.orderBy(["age", "name"], ascending=[False, False]).show()
    +---+-----+
    |age| name|
    +---+-----+
    |  5|  Bob|
    |  2|  Bob|
    |  2|Alice|
    +---+-----+

In [59]:
from pyspark.sql.functions import count, col
hflight= hflight.withColumn('ArrDelay', col('ArrDelay').cast('integer'))
hflight.filter(col('ArrDelay') > 5).groupby("Dest").agg(count(col("ArrDelay")).alias("Cnt")).filter(col("Cnt") > 2000).sort("Cnt", ascending=False).show()

"""
from pyspark.sql.functions import expr
hflight.withColumn("ArrDelay", expr("ArrDelay == 0")).show()
hflight.where(expr("ArrDelay == 0")).show()
"""

+----+----+
|Dest| Cnt|
+----+----+
| DAL|3160|
| ATL|2515|
| LAX|2492|
| MSY|2201|
| DEN|2177|
| ORD|2118|
+----+----+

'\nfrom pyspark.sql.functions import expr\nhflight.withColumn("ArrDelay", expr("ArrDelay == 0")).show()\nhflight.where(expr("ArrDelay == 0")).show()\n'

In [39]:
from pyspark.sql.functions import expr
hflight.withColumn("ArrDelay", expr("ArrDelay == 0")).show()
hflight.where(expr("ArrDelay == 0")).show()

target = hflight.withColumn("count", expr("ArrDelay >=5")).\
    where(expr("count == True")).\
    groupby("Dest").\
    count().\
    filter(expr("count >= 2000")).select("Dest").rdd.flatMap(lambda x : x).collect()


hflight2 = hflight.where(col('Dest').isin(target))

hflight2.select("Dest").distinct().show()

+----+-----+----------+---------+-------+-------+-------------+---------+-------+-----------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|ArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|
+----+-----+----------+---------+-------+-------+-------------+---------+-------+-----------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+
|2011|    1|         1|        6|   1400|   1500|           AA|      428| N576AA|               60|     40|   false|       0|   IAH| DFW|     224|     7|     13|        0|            null|       0|
|2011|    1|         2|        7|   1401|   1501|           AA|      428| N557AA|               60|     45|   false|       1|   IAH| DFW|     224|     6|      9|        0|            null|       0|
|2011|    1|         3|        1|   1352|   1502|           AA|      428| N541AA|               70|     48|   false|      -8|   IAH| DFW|     224|     5|     17|        0|            null|       0|
|2011|    1|         4|        2|   1403|   1513|           AA|      428| N403AA|               70|     39|   false|       3|   IAH| DFW|     224|     9|     22|        0|            null|       0|
|2011|    1|         5|        3|   1405|   1507|           AA|      428| N492AA|               62|     44|   false|       5|   IAH| DFW|     224|     9|      9|        0|            null|       0|
|2011|    1|         6|        4|   1359|   1503|           AA|      428| N262AA|               64|     45|   false|      -1|   IAH| DFW|     224|     6|     13|        0|            null|       0|
|2011|    1|         7|        5|   1359|   1509|           AA|      428| N493AA|               70|     43|   false|      -1|   IAH| DFW|     224|    12|     15|        0|            null|       0|
|2011|    1|         8|        6|   1355|   1454|           AA|      428| N477AA|               59|     40|   false|      -5|   IAH| DFW|     224|     7|     12|        0|            null|       0|
|2011|    1|         9|        7|   1443|   1554|           AA|      428| N476AA|               71|     41|   false|      43|   IAH| DFW|     224|     8|     22|        0|            null|       0|
|2011|    1|        10|        1|   1443|   1553|           AA|      428| N504AA|               70|     45|   false|      43|   IAH| DFW|     224|     6|     19|        0|            null|       0|
|2011|    1|        11|        2|   1429|   1539|           AA|      428| N565AA|               70|     42|   false|      29|   IAH| DFW|     224|     8|     20|        0|            null|       0|
|2011|    1|        12|        3|   1419|   1515|           AA|      428| N577AA|               56|     41|   false|      19|   IAH| DFW|     224|     4|     11|        0|            null|       0|
|2011|    1|        13|        4|   1358|   1501|           AA|      428| N476AA|               63|     44|   false|      -2|   IAH| DFW|     224|     6|     13|        0|            null|       0|
|2011|    1|        14|        5|   1357|   1504|           AA|      428| N552AA|               67|     47|   false|      -3|   IAH| DFW|     224|     5|     15|        0|            null|       0|
|2011|    1|        15|        6|   1359|   1459|           AA|      428| N462AA|               60|     44|   false|      -1|   IAH| DFW|     224|     6|     10|        0|            null|       0|
|2011|    1|        16|        7|   1359|   1509|           AA|      428| N555AA|               70|     41|   false|      -1|   IAH| DFW|     224|    12|     17|        0|            null|       0|
|2011|    1|        17|        1|   1530|   1634|           AA|      428| N518AA|               64|     48|   false|      90|   IAH| DFW|     224|     8|      8|        0|            null|       0|
|2011|    1|        18|        2|   1408|   1508|           AA|      428| N507AA|               60|     42|   false|       8|   IAH| DFW|     224|     7|     11|        0|            null|       0|
|2011|    1|        19|        3|   1356|   1503|           AA|      428| N523AA|               67|     46|   false|      -4|   IAH| DFW|     224|    10|     11|        0|            null|       0|
|2011|    1|        20|        4|   1507|   1622|           AA|      428| N425AA|               75|     42|   false|      67|   IAH| DFW|     224|     9|     24|        0|            null|       0|
+----+-----+----------+---------+-------+-------+-------------+---------+-------+-----------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+
only showing top 20 rows

+----+-----+----------+---------+-------+-------+-------------+---------+-------+-----------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|ArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|
+----+-----+----------+---------+-------+-------+-------------+---------+-------+-----------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+
|2011|    1|        26|        3|   1634|   1745|           AA|     1121| N556AA|               71|     41|       0|       4|   IAH| DFW|     224|     7|     23|        0|            null|       0|
|2011|    1|        15|        6|   1022|   1340|           AA|     1700| N3DEAA|              138|    114|       0|       2|   IAH| MIA|     964|    13|     11|        0|            null|       0|
|2011|    1|         6|        4|   1204|   1310|           AA|     1820| N563AA|               66|     41|       0|      -1|   IAH| DFW|     224|     8|     17|        0|            null|       0|
|2011|    1|        11|        2|   1205|   1310|           AA|     1820| N563AA|               65|     42|       0|       0|   IAH| DFW|     224|     9|     14|        0|            null|       0|
|2011|    1|        27|        4|    606|    915|           AA|     1994| N3DEAA|              129|    112|       0|       6|   IAH| MIA|     964|     4|     13|        0|            null|       0|
|2011|    1|        27|        4|   1832|   2110|           AS|      731| N627AS|              278|    262|       0|       7|   IAH| SEA|    1874|     5|     11|        0|            null|       0|
|2011|    1|         7|        5|    654|   1117|           B6|      620| N641JB|              203|    172|       0|      -6|   HOU| JFK|    1428|     6|     25|        0|            null|       0|
|2011|    1|        31|        1|   1737|   2003|           CO|      667| N57869|              266|    249|       0|      12|   IAH| SEA|    1874|     6|     11|        0|            null|       0|
|2011|    1|        31|        1|   1034|   1348|           CO|      686| N56859|              134|    105|       0|      -1|   IAH| MCO|     853|     8|     21|        0|            null|       0|
|2011|    1|        31|        1|   1144|   1241|           CO|      741| N37290|               57|     32|       0|      -1|   IAH| AUS|     140|     5|     20|        0|            null|       0|
|2011|    1|        31|        1|    842|   1027|           CO|      799| N57855|              165|    133|       0|      -3|   IAH| DEN|     862|    17|     15|        0|            null|       0|
|2011|    1|        31|        1|   1252|   1559|           CO|     1757| N18622|              127|     85|       0|       2|   IAH| ATL|     689|    17|     25|        0|            null|       0|
|2011|    1|        30|        7|    900|   1101|           CO|      220| N29124|              181|    153|       0|      -5|   IAH| PHX|    1009|     9|     19|        0|            null|       0|
|2011|    1|        30|        7|   2106|   2212|           CO|      511| N54711|               66|     53|       0|      11|   IAH| MFE|     316|     4|      9|        0|            null|       0|
|2011|    1|        30|        7|   1452|   1610|           CO|      697| N38403|              198|    177|       0|      12|   IAH| LAS|    1222|     5|     16|        0|            null|       0|
|2011|    1|        30|        7|   1342|   1648|           CO|      786| N75853|              126|    107|       0|       7|   IAH| MCO|     853|     6|     13|        0|            null|       0|
|2011|    1|        30|        7|   1102|   1443|           CO|      788| N39728|              161|    138|       0|      -3|   IAH| DTW|    1076|     7|     16|        0|            null|       0|
|2011|    1|        30|        7|   1540|   1728|           CO|      795| N26226|              228|    204|       0|       0|   IAH| LAX|    1379|     7|     17|        0|            null|       0|
|2011|    1|        30|        7|   1603|   1820|           CO|     1070| N73406|              257|    224|       0|       3|   IAH| SFO|    1635|     9|     24|        0|            null|       0|
|2011|    1|        30|        7|   1323|   1639|           CO|     1548| N37408|              136|    109|       0|       8|   IAH| FLL|     965|     4|     23|        0|            null|       0|
+----+-----+----------+---------+-------+-------+-------------+---------+-------+-----------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+
only showing top 20 rows

+----+
|Dest|
+----+
| MSY|
| DEN|
| DAL|
| ATL|
| ORD|
| LAX|
+----+

In [2]:
### JOIN
emp = [(1,"Smith",-1,"2018","10","M",3000), \
    (2,"Rose",1,"2010","20","M",4000), \
    (3,"Williams",1,"2010","10","M",1000), \
    (4,"Jones",2,"2005","10","F",2000), \
    (5,"Brown",2,"2010","40","",-1), \
      (6,"Brown",2,"2010","50","",-1) \
  ]
empColumns = ["emp_id","name","superior_emp_id","year_joined", \
       "emp_dept_id","gender","salary"]

empDF = spark.createDataFrame(data=emp, schema = empColumns)
empDF.printSchema()
empDF.show(truncate=False)

dept = [("Finance",10), \
    ("Marketing",20), \
    ("Sales",30), \
    ("IT",40) \
  ]
deptColumns = ["dept_name","dept_id"]
deptDF = spark.createDataFrame(data=dept, schema = deptColumns)
deptDF.printSchema()
deptDF.show(truncate=False)

root
 |-- emp_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- superior_emp_id: long (nullable = true)
 |-- year_joined: string (nullable = true)
 |-- emp_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

+------+--------+---------------+-----------+-----------+------+------+
|emp_id|name    |superior_emp_id|year_joined|emp_dept_id|gender|salary|
+------+--------+---------------+-----------+-----------+------+------+
|1     |Smith   |-1             |2018       |10         |M     |3000  |
|2     |Rose    |1              |2010       |20         |M     |4000  |
|3     |Williams|1              |2010       |10         |M     |1000  |
|4     |Jones   |2              |2005       |10         |F     |2000  |
|5     |Brown   |2              |2010       |40         |      |-1    |
|6     |Brown   |2              |2010       |50         |      |-1    |
+------+--------+---------------+-----------+-----------+------+------+

root
 |-- dept_name: string (nullable = true)
 |-- dept_id: long (nullable = true)

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|Finance  |10     |
|Marketing|20     |
|Sales    |30     |
|IT       |40     |
+---------+-------+

In [3]:
empDF.join( deptDF, empDF.emp_dept_id == deptDF.dept_id, "inner").show()

+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|emp_id|    name|superior_emp_id|year_joined|emp_dept_id|gender|salary|dept_name|dept_id|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+
|     1|   Smith|             -1|       2018|         10|     M|  3000|  Finance|     10|
|     3|Williams|              1|       2010|         10|     M|  1000|  Finance|     10|
|     4|   Jones|              2|       2005|         10|     F|  2000|  Finance|     10|
|     2|    Rose|              1|       2010|         20|     M|  4000|Marketing|     20|
|     5|   Brown|              2|       2010|         40|      |    -1|       IT|     40|
+------+--------+---------------+-----------+-----------+------+------+---------+-------+

## 문제 3
### 위의 결과를 바탕으로 목적지  공항 별 경항횟수, 회항횟수
### 운항 횟수를 구하시오
### 운항 횟수는 결항과 회항을 제외한 것

## 문제3 해설

In [48]:
hflight4 = spark.read.parquet("hdfs://namenode:8020/20240619/scw/hflight_ex3.parquet")

In [65]:
hflight4.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: string (nullable = true)
 |-- ArrTime: string (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- ActualElapsedTime: string (nullable = true)
 |-- AirTime: string (nullable = true)
 |-- ArrDelay: integer (nullable = true)
 |-- DepDelay: integer (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: integer (nullable = true)
 |-- TaxiIn: string (nullable = true)
 |-- TaxiOut: string (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- CancellationCode: string (nullable = true)
 |-- Diverted: integer (nullable = true)

In [69]:
from pyspark.sql.functions import expr
url = "jdbc:mysql://43.202.5.70:3306/encore_web"
properties = {
    "user": "class5",
    "password": 'EnCoRo!23',
    "driver": "com.mysql.cj.jdbc.Driver"
}

a = hflight4.groupBy("Dest").sum("Cancelled")
b = hflight4.groupBy("Dest").sum("Diverted")
c = hflight4.groupBy("Dest").count()

result = a.join(b, on="Dest", how='left').\
    join(c, on="Dest", how='left').\
    withColumnRenamed("sum(Cancelled)", "Cancelled").\
    withColumnRenamed("sum(Diverted)", "Diverted").\
    withColumn("air", expr("count - Cancelled - Diverted")).\
    drop("count").\
    write.jdbc(url=url, table='hiyo', mode='append', properties=properties)

# 하둡 연동

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()


df = spark.read \
    .format("jdbc") \
    .option("driver","com.mysql.cj.jdbc.Driver") \
    .option("url", "jdbc:mysql://43.202.5.70:3306/encore_web") \
    .option("dbtable","encore_question") \
    .option("numPartitions",5) \
    .option("user", "class5") \
    .option("password", 'EnCoRo!23') \
    .load()

### df = spark.read **:

df는 우리가 데이터를 저장할 변수의 이름
spark.read는 데이터를 읽어오는 시작점

### .format("jdbc") **:

jdbc는 Java Database Connectivity의 줄임말로, 데이터베이스에 연결하는 방법
이 코드는 MySQL 데이터베이스에서 데이터를 읽어올 수 있음

### .option("driver","com.mysql.cj.jdbc.Driver") **:

driver는 MySQL 데이터베이스에 연결할 때 사용하는 특별한 프로그램
com.mysql.cj.jdbc.Driver는 MySQL에 연결할 수 있게 해주는 드라이버의 이름

### .option("url", "jdbc:mysql://43.202.5.70:3306/encore_web") **:

url은 우리가 연결할 MySQL 데이터베이스의 주소
jdbc:mysql://43.202.5.70:3306/encore_web는 "43.202.5.70"이라는 컴퓨터에 있는 "encore_web"라는 데이터베이스를 의미

### .option("dbtable","encore_question") **:

dbtable은 데이터베이스 안에 있는 테이블 이름
encore_question 테이블에서 데이터를 읽어옴

### .option("numPartitions",5) **:

numPartitions는 데이터를 몇 개의 조각으로 나눌지 정함
데이터를 5개의 조각으로 나눌 거예요. 이렇게 하면 여러 컴퓨터가 동시에 데이터를 읽을 수 있음

### .option("user", "class5") **:

user는 데이터베이스에 접속할 때 사용하는 사용자 이름
여기서는 "class5"라는 사용자를 사용함

### .option("password", 'EnCoRo!23') **:

password는 데이터베이스에 접속할 때 사용하는 비밀번호
여기서는 'EnCoRo!23'이라는 비밀번호를 사용함

### .load():

load()는 지금까지 설정한 모든 정보를 사용해서 실제로 데이터를 읽어오는 명령
이렇게 하면 df라는 변수에 데이터베이스에서 읽어온 데이터가 저장됨

In [2]:
df.show()

+---+------------------------+-----------------------+--------------------+---------+
| id|                 subject|                content|         create_date|quthor_id|
+---+------------------------+-----------------------+--------------------+---------+
|  1|                       d|                      d|2024-05-14 06:37:...|        1|
|  2|                       d|                      d|2024-05-14 06:37:...|        1|
|  3|                       d|                      d|2024-05-14 06:37:...|        1|
|  4|                 sdfasdf|                 fasadf|2024-05-14 06:38:...|        1|
|  5|                    우와|                   우와|2024-05-14 06:38:...|        1|
|  6|                 sdfasdf|                 fasadf|2024-05-14 06:38:...|        1|
|  8|                    으오|                   ㅇㅇ|2024-05-14 06:39:...|        1|
|  9|    첫글을 빼앗겼네요...|                   ㅠㅠ|2024-05-14 06:39:...|        1|
| 10|                    집에|          가고싶어요...|2024-05-14 06:39:...|        1|
| 11|    첫글을 빼앗겼네요...|                   ㅠㅠ|2024-05-14 06:39:...|        1|
| 12|                    으오|                   ㅇㅇ|2024-05-14 06:39:...|        1|
| 13|                     qqq|                     qq|2024-05-14 06:40:...|        1|
| 15|내일은 부처님 오시는 날~|               쉬어요~~|2024-05-14 06:40:...|        1|
| 16|                    집에|          가고싶어요...|2024-05-14 06:40:...|        1|
| 17|                가나다라|                 마바사|2024-05-14 06:41:...|        1|
| 18|               'wefopfew|   efjiow;joiwefefjiwo;|2024-05-14 06:41:...|        1|
| 19| 오늘은 집에 일찍 가는날|오늘은 집에 일찍 가는날|2024-05-14 06:41:...|        1|
| 20|  저녁 메뉴 추천해주세요|                뭐 먹징|2024-05-14 06:41:...|        1|
| 21|                     휴~|      드디어 들어옴ㅜㅜ|2024-05-14 06:12:...|        1|
| 22|              ㅎㅎㅎㅎㅎ|               하하하하|2024-05-14 06:42:...|        1|
+---+------------------------+-----------------------+--------------------+---------+
only showing top 20 rows

In [4]:
from pyarrow import fs
import pyarrow as pa
import subprocess

classpath = subprocess.Popen(["/home/hadoop/hadoop/bin/hdfs", "classpath", "--glob"], stdout=subprocess.PIPE).communicate()[0]
os.environ["CLASSPATH"] = classpath.decode("utf-8")
hdfs = fs.HadoopFileSystem(host='192.168.0.160', port=8020, user='hadoop')

In [5]:
from pyspark.sql.functions import lit

In [9]:
df2 = df.withColumn("dummy", lit("하하"))
df2.show()

+---+------------------------+-----------------------+--------------------+---------+-----+
| id|                 subject|                content|         create_date|quthor_id|dummy|
+---+------------------------+-----------------------+--------------------+---------+-----+
|  1|                       d|                      d|2024-05-14 06:37:...|        1| 하하|
|  2|                       d|                      d|2024-05-14 06:37:...|        1| 하하|
|  3|                       d|                      d|2024-05-14 06:37:...|        1| 하하|
|  4|                 sdfasdf|                 fasadf|2024-05-14 06:38:...|        1| 하하|
|  5|                    우와|                   우와|2024-05-14 06:38:...|        1| 하하|
|  6|                 sdfasdf|                 fasadf|2024-05-14 06:38:...|        1| 하하|
|  8|                    으오|                   ㅇㅇ|2024-05-14 06:39:...|        1| 하하|
|  9|    첫글을 빼앗겼네요...|                   ㅠㅠ|2024-05-14 06:39:...|        1| 하하|
| 10|                    집에|          가고싶어요...|2024-05-14 06:39:...|        1| 하하|
| 11|    첫글을 빼앗겼네요...|                   ㅠㅠ|2024-05-14 06:39:...|        1| 하하|
| 12|                    으오|                   ㅇㅇ|2024-05-14 06:39:...|        1| 하하|
| 13|                     qqq|                     qq|2024-05-14 06:40:...|        1| 하하|
| 15|내일은 부처님 오시는 날~|               쉬어요~~|2024-05-14 06:40:...|        1| 하하|
| 16|                    집에|          가고싶어요...|2024-05-14 06:40:...|        1| 하하|
| 17|                가나다라|                 마바사|2024-05-14 06:41:...|        1| 하하|
| 18|               'wefopfew|   efjiow;joiwefefjiwo;|2024-05-14 06:41:...|        1| 하하|
| 19| 오늘은 집에 일찍 가는날|오늘은 집에 일찍 가는날|2024-05-14 06:41:...|        1| 하하|
| 20|  저녁 메뉴 추천해주세요|                뭐 먹징|2024-05-14 06:41:...|        1| 하하|
| 21|                     휴~|      드디어 들어옴ㅜㅜ|2024-05-14 06:12:...|        1| 하하|
| 22|              ㅎㅎㅎㅎㅎ|               하하하하|2024-05-14 06:42:...|        1| 하하|
+---+------------------------+-----------------------+--------------------+---------+-----+
only showing top 20 rows

In [60]:
df2.write.mode("overwrite").csv("hdfs://namenode:8020/20240619/scw/my3.csv")

In [52]:
df3 = df2.withColumn("dummy2", lit("맨유는 개못해"))

In [53]:
# 해당 경로에 폴더가 없어도 생성해줌
df3.write.parquet("hdfs://namenode:8020/20240619/maenchester/liverpool.parquet")

In [54]:
df4= spark.read.parquet("hdfs://namenode:8020/20240619/maenchester/liverpool.parquet")

In [55]:
df4.show()

+---+------------------------+-----------------------+--------------------+---------+-----+-------------+
| id|                 subject|                content|         create_date|quthor_id|dummy|       dummy2|
+---+------------------------+-----------------------+--------------------+---------+-----+-------------+
|  1|                       d|                      d|2024-05-14 06:37:...|        1| 하하|맨유는 개못해|
|  2|                       d|                      d|2024-05-14 06:37:...|        1| 하하|맨유는 개못해|
|  3|                       d|                      d|2024-05-14 06:37:...|        1| 하하|맨유는 개못해|
|  4|                 sdfasdf|                 fasadf|2024-05-14 06:38:...|        1| 하하|맨유는 개못해|
|  5|                    우와|                   우와|2024-05-14 06:38:...|        1| 하하|맨유는 개못해|
|  6|                 sdfasdf|                 fasadf|2024-05-14 06:38:...|        1| 하하|맨유는 개못해|
|  8|                    으오|                   ㅇㅇ|2024-05-14 06:39:...|        1| 하하|맨유는 개못해|
|  9|    첫글을 빼앗겼네요...|                   ㅠㅠ|2024-05-14 06:39:...|        1| 하하|맨유는 개못해|
| 10|                    집에|          가고싶어요...|2024-05-14 06:39:...|        1| 하하|맨유는 개못해|
| 11|    첫글을 빼앗겼네요...|                   ㅠㅠ|2024-05-14 06:39:...|        1| 하하|맨유는 개못해|
| 12|                    으오|                   ㅇㅇ|2024-05-14 06:39:...|        1| 하하|맨유는 개못해|
| 13|                     qqq|                     qq|2024-05-14 06:40:...|        1| 하하|맨유는 개못해|
| 15|내일은 부처님 오시는 날~|               쉬어요~~|2024-05-14 06:40:...|        1| 하하|맨유는 개못해|
| 16|                    집에|          가고싶어요...|2024-05-14 06:40:...|        1| 하하|맨유는 개못해|
| 17|                가나다라|                 마바사|2024-05-14 06:41:...|        1| 하하|맨유는 개못해|
| 18|               'wefopfew|   efjiow;joiwefefjiwo;|2024-05-14 06:41:...|        1| 하하|맨유는 개못해|
| 19| 오늘은 집에 일찍 가는날|오늘은 집에 일찍 가는날|2024-05-14 06:41:...|        1| 하하|맨유는 개못해|
| 20|  저녁 메뉴 추천해주세요|                뭐 먹징|2024-05-14 06:41:...|        1| 하하|맨유는 개못해|
| 21|                     휴~|      드디어 들어옴ㅜㅜ|2024-05-14 06:12:...|        1| 하하|맨유는 개못해|
| 22|              ㅎㅎㅎㅎㅎ|               하하하하|2024-05-14 06:42:...|        1| 하하|맨유는 개못해|
+---+------------------------+-----------------------+--------------------+---------+-----+-------------+
only showing top 20 rows