In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (61 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.0/61.0 kB 1.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 14.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading numpy-1.26.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (18.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 18.0/18.0 MB 15.6 MB/s eta 0:00:00m eta 0:00:010:01:01
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 345.4/345.4 kB 17.4 MB/s eta 0:00:00
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-1.26.4 pandas-2.2.2 tzdata-2024.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-16.1.0-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.0 kB)
Requirement already satisfied: numpy>=1.16.6 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from pyarrow) (1.26.4)
Downloading pyarrow-16.1.0-cp312-cp312-manylinux_2_28_x86_64.whl (40.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.8/40.8 MB 19.3 MB/s eta 0:00:00m eta 0:00:010:01:01
Installing collected packages: pyarrow
Successfully installed pyarrow-16.1.0
Note: you may need to restart the kernel to use updated packages.

In [4]:
import os
import subprocess
from pyarrow import fs
import pyarrow as pa


classpath = subprocess.Popen(["/home/hadoop/hadoop/bin/hdfs", "classpath", "--glob"], stdout=subprocess.PIPE).communicate()[0]
os.environ["CLASSPATH"] = classpath.decode("utf-8")
hdfs = fs.HadoopFileSystem(host='192.168.56.120', port=8020, user='hadoop')




# 디렉토리 경로
dir_path = '/'


# 디렉토리 목록 가져오기
file_infos = hdfs.get_file_info(pa.fs.FileSelector(dir_path, recursive=False))  
for file_info in file_infos:
    print(file_info.path)

2024-06-12 03:13:20,169 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

/encore
/output
/tmp
/user

In [5]:
hdfs.create_dir("/encore_test")

In [6]:
import pandas as pd

In [8]:
df = pd.DataFrame({'a':[1,2,3], 'b': [2,3,4]})

In [33]:
# 파케이 저장 형식
import pyarrow.parquet as pq
import pyarrow as pa

In [34]:
table= pa.Table.from_pandas(df)

In [35]:
pq.write_table(table, '/encore_test/aa.parquet', filesystem=hdfs)

In [30]:
ls -l /home/hadoop/encore.parquet

-rw-rw-r-- 1 hadoop hadoop 2252 Jun 12 03:18 /home/hadoop/encore.parquet

In [40]:
pd.read_parquet("aa.parquet")

   a  b
0  1  2
1  2  3
2  3  4

In [1]:
import os
import subprocess
from pyarrow import fs
import pyarrow as pa


classpath = subprocess.Popen(["/home/hadoop/hadoop/bin/hdfs", "classpath", "--glob"], stdout=subprocess.PIPE).communicate()[0]
os.environ["CLASSPATH"] = classpath.decode("utf-8")
hdfs = fs.HadoopFileSystem(host='192.168.0.160', port=8020, user='hadoop')

# 디렉토리 경로
dir_path = '/encore'


# 디렉토리 목록 가져오기
file_infos = hdfs.get_file_info(pa.fs.FileSelector(dir_path, recursive=False))  
for file_info in file_infos:
    print(file_info.path)

import pandas as pd


file_path = "/encore/tpss_bcycl_od_statnhm_202001.csv"

2024-06-13 01:33:23,626 WARN util.NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

/encore/input2.txt
/encore/tpss_bcycl_od_statnhm_202001.csv
/encore/tpss_bcycl_od_statnhm_202002.csv
/encore/tpss_bcycl_od_statnhm_202003.csv
/encore/tpss_bcycl_od_statnhm_202004.csv
/encore/tpss_bcycl_od_statnhm_202005.csv
/encore/tpss_bcycl_od_statnhm_202006.csv
/encore/tpss_bcycl_od_statnhm_202007.csv._COPYING_

In [2]:
pip install tqdm

Collecting tqdm
  Downloading tqdm-4.66.4-py3-none-any.whl.metadata (57 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 57.6/57.6 kB 2.1 MB/s eta 0:00:00
Downloading tqdm-4.66.4-py3-none-any.whl (78 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 78.3/78.3 kB 9.0 MB/s eta 0:00:00
Installing collected packages: tqdm
Successfully installed tqdm-4.66.4
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pyarrow.parquet as pq
import pyarrow as pa
from pyarrow import csv
from tqdm import tqdm

with hdfs.open_input_file(file_path) as f:
    #table = csv.read_csv(f)
    df = pd.read_csv(f, encoding='cp949')

In [4]:
df.shape

(1669003, 10)

In [7]:
df.head(3)

,기준_날짜,구분코드,기준_시간,시작_대여소ID,시작_대여소명,종료_대여소ID,종료_대여소명,전체건수,전체이용시간(분),전체이용거리(m)
0,20200101,0,0,ST-443,성산2동_041_2,ST-82,성산2동_041_3,1,2,450
1,20200101,0,0,ST-56,여의동_005_10,ST-1321,영등포동_036_1,1,10,1460
2,20200101,0,0,ST-1546,조원동_004_1,ST-703,신사동_023_1,1,5,700

In [8]:
pip install finance-datareader

Collecting finance-datareader
  Downloading finance_datareader-0.9.90-py3-none-any.whl.metadata (466 bytes)
Requirement already satisfied: pandas>=0.19.2 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from finance-datareader) (2.2.2)
Requirement already satisfied: requests>=2.3.0 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from finance-datareader) (2.32.2)
Collecting requests-file (from finance-datareader)
  Downloading requests_file-2.1.0-py2.py3-none-any.whl.metadata (1.7 kB)
Collecting lxml (from finance-datareader)
  Downloading lxml-5.2.2-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.4 kB)
Requirement already satisfied: tqdm in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from finance-datareader) (4.66.4)
Requirement already satisfied: numpy>=1.26.0 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from pandas>=0.19.2->finance-datareader) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from pandas>=0.19.2->finance-datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from pandas>=0.19.2->finance-datareader) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from pandas>=0.19.2->finance-datareader) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from requests>=2.3.0->finance-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from requests>=2.3.0->finance-datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from requests>=2.3.0->finance-datareader) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from requests>=2.3.0->finance-datareader) (2024.6.2)
Requirement already satisfied: six>=1.5 in ./miniconda3/envs/myenv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas>=0.19.2->finance-datareader) (1.16.0)
Downloading finance_datareader-0.9.90-py3-none-any.whl (46 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 46.6/46.6 kB 2.3 MB/s eta 0:00:00
Downloading lxml-5.2.2-cp312-cp312-manylinux_2_28_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 15.7 MB/s eta 0:00:0000:0100:01
Downloading requests_file-2.1.0-py2.py3-none-any.whl (4.2 kB)
Installing collected packages: lxml, requests-file, finance-datareader
Successfully installed finance-datareader-0.9.90 lxml-5.2.2 requests-file-2.1.0
Note: you may need to restart the kernel to use updated packages.

In [13]:
conda install ploty

Channels:
 - defaults
Platform: linux-64
Collecting package metadata (repodata.json): done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - ploty

Current channels:

  - defaults

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.



Note: you may need to restart the kernel to use updated packages.

In [16]:
import requests
head = {'User-Agent':
'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/125.0.0.0 Safari/537.36'}
rt = pd.read_html(requests.get("https://finance.naver.com/item/sise_time.naver?code=036460&thistime=20240613103924",
                              headers=head).text)[0].dropna()

import pyarrow as pa
import pyarrow.parquet as pq
table = pa.Table.from_pandas(rt)
pq.write_table(table, '/rsh/stock.parquet', filesysteming: Passing literal html to 'read_html' is deprecated and will be removed in a future ver=hdfs)

/tmp/ipykernel_2021/3753983074.py:4: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  rt = pd.read_html(requests.get("https://finance.naver.com/item/sise_time.naver?code=036460&thistime=20240613103924",

In [17]:
rt

     체결시각      체결가        전일비       매도       매수         거래량       변동량
1   10:39  52900.0  상승  7,100  52900.0  52800.0  10946336.0   41371.0
2   10:38  52500.0  상승  6,700  52700.0  52500.0  10904965.0   33502.0
3   10:37  52700.0  상승  6,900  52800.0  52700.0  10871463.0   42187.0
4   10:36  52600.0  상승  6,800  52600.0  52500.0  10829276.0   51083.0
5   10:35  52300.0  상승  6,500  52400.0  52300.0  10778193.0   75469.0
9   10:34  52300.0  상승  6,500  52400.0  52300.0  10702724.0   71395.0
10  10:33  52600.0  상승  6,800  52700.0  52600.0  10631329.0   70944.0
11  10:32  52900.0  상승  7,100  52900.0  52800.0  10560385.0   36278.0
12  10:31  52900.0  상승  7,100  52900.0  52800.0  10524107.0   57946.0
13  10:30  53100.0  상승  7,300  53200.0  53100.0  10466161.0  143246.0

In [ ]:
CREATE EXTERNAL TABLE stock(
    time STRING,
    체결가	전일비	매도	매수	거래량	변동량